@using Microsoft.AspNetCore.Identity
@using DataAccess.Data

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ApplicationDbContext Context

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var userProfile =  Context.userProfiles.FirstOrDefault(up =>up.UserId == user.Id);
        @if(userProfile !=null && !string.IsNullOrEmpty(userProfile.ProfileImagePath))
        {
           <li> 
               <a asp-area="Identity" asp-page="/Account/Manage/Index">
               @* <img src="@Url.Content(userProfile.ProfileImagePath)" alt="Profile" style="width:30px; height:30px; border-radius:50%;margin-right:5px;"/> *@
                    <img src="~/@userProfile.ProfileImagePath" alt="Profile" style="width:60px; height:60px; border-radius:50%; margin-right:5px;" />

               </a>
            
            </li>
        }
        else
        {
            <span class="text-light" style="margin-right:5px;"> icon</span>
        }

        <li class="nav-item">
        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
